
de.jw.frege/bin

.gradle/

de.jw.frege/.classpath

de.jwausle.frege.java.net/.classpath

*.bak

de.jwausle.frege.java.nio/.classpath

de.jwausle.frege.java.nio/.project

de.jwausle.frege.java.nio/.settings/org.eclipse.jdt.core.prefs

de.jwausle.frege.java.nio/gradle/lib/run-frege-gen.sh

de.jwausle.frege.java.text/.classpath

de.jwausle.frege.java.text/.project

de.jwausle.frege.java.text/.settings/org.eclipse.jdt.core.prefs

de.jwausle.frege.java.text/gradle/lib/run-frege-gen.sh

de.jwausle.frege.java.time/.classpath

de.jwausle.frege.java.time/.project

de.jwausle.frege.java.time/.settings/org.eclipse.jdt.core.prefs

de.jwausle.frege.java.time/gradle/lib/run-frege-gen.sh

de.jwausle.frege.netty/.classpath

de.jwausle.frege.netty/.project

de.jwausle.frege.netty/.settings/org.eclipse.jdt.core.prefs

de.jwausle.frege.vertx/.classpath

de.jwausle.frege.vertx/.project

de.jwausle.frege.vertx/.settings/org.eclipse.jdt.core.prefs

de.jwausle.frege.vertx/gradle/lib/run-frege-gen.sh
